* {
    font-family: Hack Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  
    /* --bg: #191919;
    --bg-mod: #353535;
    --bg-alt: #5d6b9d;
    --rosado: #d295f6;
    --azul: #95e1f6;
    --verde: #96f695; */
  }
  
  window#waybar {
    background-color: #090303;
    border-radius: 8;
    padding: 20px 0;
  }
  
  #workspaces button {
    padding-left: 0;
    min-width: 50px;
    margin: 0 1px;
    color: #6c6c6c;
    font-size: 26px;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }
  
  #workspaces button.urgent {
    color: #ea4d4d;
  }
  
  #workspaces button.urgent:hover {
    color: #fff;
    background-color: #ea4d4d;
  }
  
  button {
    border: none;
    box-shadow: inset 0 -3px transparent;
  }
  
  #workspaces button:hover {
    color: #353535;
    background: white;
  }
  
  #workspaces button.empty {
    color: #2a2a2a;
  }
  
  #workspaces button.active {
    color: #ffbebd;
  }
  
  
  .modules-right,
  .modules-left {
    color: #fff;
    font-size: 16px;
    padding: 5px 2px;
  }
  

  
  #idle_inhibitor {
    padding-right: 13px;
  }
  #custom-power {
    font-size: 20px;
    color: #ee3434;
    padding-right: 13px;
  }
  #custom-me {
    padding: 0 13px 0 8px;
    font-size: 24px;
  }
  
  #window {
    margin: 0 5px;
    opacity: 0.4;
  }
  
  #custom-notification {
    padding-right: 13px;
  }
  
  #custom-notification.notification {
    padding-right: 13px;
    background-color: #ea4d4d;
  }
  
  #custom-notification.dnd-notification {
    padding-right: 13px;
    background-color: #fff;
  }
  
  #custom-notification.inhibited-notification {
    padding-right: 13px;
    background-color: #96f695;
  }
  
  #custom-notification.inhibited-none {
    padding-right: 13px;
    background-color: #96f695;
  }
  
  #custom-notification.dnd-inhibited-notification {
    padding-right: 13px;
    background-color: #96f695;
  }
  
  #custom-notification.dnd-inhibited-notification {
    background-color: #96f695;
  }
  
  #clock,
  #battery,
  #cpu,
  #memory,
  #disk,
  #temperature,
  #network,
  #wireplumber,
  #custom-media,
  #tray,
  #mode,
  #idle_inhibitor,
  #scratchpad,
  #mpd,
  #pulseaudio,
  #privacy,
  #user,
  #custom-updates,
  #custom-notification,
  #custom-me,
  #custom-power,
  #custom-hola,
  #mpris {
    margin: 0 5px;
    background-color: #353535;
    padding: 0 10px;
    color: #ffffff;
    border-radius: 8;
  }