* {
  font-family: Iosevka Nerd font, Hack Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

/*
  bg-400: #83548e;
  bg-700: #562a53;
  pink: #d295f6;
  green: #96f695;
  */

window#waybar {
  background-color: transparent;
}

#workspaces button {
  color: #562a53;
  padding: 0 20px 0 12px;
  font-size: 26px;
  transition: color 0.2s, background 0.2s, border 0.2s;
}

#workspaces button.urgent {
  color: #ea4d4d;
}
#workspaces button.urgent:hover {
  color: #fff;
  background-color: #ea4d4d;
}
#workspaces button:hover {
  color: #2a3456;
  background: white;
}
#workspaces button.empty {
  color: #896e8f;
}
#workspaces button.active {
  color: #d295f6;
}
#workspaces button.active:hover {
  background-color: #4b0082;
}
button {
  border: none;
  box-shadow: inset 0 -3px transparent;
}

.modules-right,
.modules-left {
  color: #fff;
  font-size: 18px;
  padding: 5px 2px;
}


#custom-user,
#network,
#custom-music,
#privacy,
#workspaces,
#tray,
#custom-notification,
#pulseaudio,
#battery,
#clock,
#custom-power {
  margin: 0 5px;
  background-color: #83548e;
  padding: 0px 12px;
  color: #ffffff;
  border-radius: 8;
}

#workspaces {
  padding: 0px;
}

#custom-power {
  font-size: 20px;
  color: #ee3434;
  padding-right: 16px;
}
#custom-user {
  padding: 0 16px 0 8px;
  font-size: 24px;
}

#custom-notification {
  padding-right: 13px;
}

#custom-notification.notification {
  padding-right: 13px;
  background-color: #ea4d4d;
}

#custom-notification.dnd-notification {
  padding-right: 13px;
  background-color: #fff;
}

#custom-notification.inhibited-notification {
  padding-right: 13px;
  background-color: #96f695;
}

#custom-notification.inhibited-none {
  padding-right: 13px;
  background-color: #96f695;
}

#custom-notification.dnd-inhibited-notification {
  padding-right: 13px;
  background-color: #96f695;
}

#custom-notification.dnd-inhibited-notification {
  background-color: #96f695;
}
